:root {
    --main-color: #95E1D3;
    --active-color: #F38181;
    --title-color: #333333;
    --paragraph-color: #B6B6B6;
    --author-color: #000000;
    --background-color: #FFFFFF;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.header {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 55px;
    margin-left: auto;
}

.container {
    /* outline: 1px solid darkred; */
}

.header {
    /* outline: 1px solid brown; */
    margin-bottom: 80px;
}

.title {
    /* outline: 1px solid blue; */
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    color: var(--main-color);
}

.header-menu {
    /* outline: 1px solid darkblue; */
    list-style: none;
    text-decoration: none;
}

.header-item {
    /* outline: 1px solid green; */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}


.header-link {
    /* outline: 1px solid darkgreen; */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    text-decoration: none;
}

.header-link-active {
    color: var(--active-color);
    position: relative;
}

.header-link-active::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--active-color);
    display: block;
    position: absolute;
    bottom: -10px;
    right: 1px;
}

.main {
    /* outline: 1px solid pink; */
}

.main-section {
    /* outline: 1px solid purple; */
    margin: 0 auto;
}

.main-wrapper {
    margin: 0 auto;
}

.main-name {
    /* outline: 1px solid black; */
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--title-color);
}

.main-title {
    /* outline: 1px solid gray; */
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: var(--title-color);
    margin-bottom: 110px;
    position: relative;
}

.main-title::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--active-color);
    display: block;
    position: absolute;
    bottom: -36px;
    left: 571px;
}

.main-menu {
    /* outline: 1px solid blueviolet; */
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding-left: 0;
    width: 1040px;
    margin: 0 auto;
}

.main-item {
    /* outline: 1px solid yellow; */
    width: 300px;
    list-style: none;
    display: flex;
    gap: 18px;
}

.main-icon {
    height: 37px;
    width: 37px;
    /* outline: 1px solid yellowgreen; */
}

.category {
    /* outline: 1px solid royalblue; */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--title-color);
    margin-top: 0;
}

.category-description {
    /* outline: 1px solid teal; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--paragraph-color);
}

.team-section {
    /* outline: 1px solid violet; */
    margin-top: 100px;
    margin-bottom: 80px;
}

.team-description {
    /* outline: 1px solid darkslategray; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--paragraph-color);
    margin-bottom: 27px;
}

.team-list {
    /* outline: 1px solid hotpink; */
    display: flex;
    list-style: none;
    gap: 30px;
    width: 380px;
    padding-left: 0;
}

.team-item {
    /* outline: 1px solid mediumspringgreen; */
}

.team-member {
    /* outline: 1px solid midnightblue; */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--title-color);
    text-align: center;
}

.member-position {
    /* outline: 1px solid chocolate; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: var(--paragraph-color);
    text-align: center;
    display: block;
}

.footer {
    /* outline: 1px solid orange; */
    display: flex;
    margin-top: 12px;
}

.footer-author {
    /* outline: 1px solid orangered; */
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--author-color);
    font-size: 14px;
    width: 314px
}

.author-name {
    color: var(--active-color);
}

.footer-email {
    /* outline: 1px solid peru; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: var(--paragraph-color);
    padding-left: 10px;
}

.button {
    /* outline: 1px solid fuchsia; */
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    background-color: var(--main-color);
    color: var(--background-color);
    padding: 10px 40px;
    border: none;
}

.input-btn-wrapper {
    display: flex;
    margin-left: auto;
    margin-left: 566px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}